<%= form_with(model: user, local: true) do |form| %>
  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit :ログイン %>
  </div>
<% end %>
